<div ng-controller="npcCtrl" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3" id="footer-info">
          <h1>NPC</h1>
          <h5 ng-if="selectedLang == 0">NAGAR PEST CONTROL SERVICE</h5>
          <h5 ng-if="selectedLang == 1">নগর পেস্ট নিয়ন্ত্রণ পরিষেবা</h5>
          <h2>01682222222,</h2>
          <h2>01682222222</h2>
        </div>
        <div class="col-md-3" id="footer-adress">
          <h4 ng-if="selectedLang == 0">DHAKA OFFICE</h4><br>
          <h4 ng-if="selectedLang == 1">ঢাকা অফিস</h4><br>
          Md Shahrul Hasan<br>
          Branch in Charge<br>
          Newaz Mansion 1063 Zakir Hossain Road Khulsi,<br>
          Chittagong, Bangladesh<br>
          Mobile: +880 1708544302<br>
          Email: info@smpestcontrolctg.com
        </div>
        <div class="col-md-3" id="footer-adress">
          <h4 ng-if="selectedLang == 0">CALCUTTA OFFICE</h4><br>
          <h4 ng-if="selectedLang == 1">কলিকাতা অফিস</h4><br>
          Md Shahrul Hasan<br>
          Branch in Charge<br>
          Newaz Mansion 1063 Zakir Hossain Road Khulsi,<br>
          Chittagong, Bangladesh<br>
          Mobile: +880 1708544302<br>
          Email: info@smpestcontrolctg.com<br>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
</div>
