<div id="our-clients">
  <!-- LOADER ANIMATION -->
  <div ng-show='stateIsLoading'>
    <div id="overlay">
      <div class="spinner"></div>
    </div>
  </div>
  
  <div id="home-clients" class="container">
    <center>
      <h1 class="animated bounceIn" ng-if="selectedLang == 0" >OUR CLIENTS</h1>
      <h1 class="animated bounceIn" ng-if="selectedLang == 1" >আমাদের ক্লায়েন্ট</h1>
      <div id="title-line"></div>
    </center>
    <div class="row" style="text-align:center;">
      <div class="clients why-call-insects animated rubberBand">
        <img src="images/clients/brothers-furniture.jpg" alt="">
      </div>
      <div class="clients why-call-insects animated rubberBand">
        <img src="images/clients/bsrm.jpg" alt="">
      </div>
      <div class="clients why-call-insects animated rubberBand">
        <img src="images/clients/chittagong-stock.jpg" alt="">
      </div>
      <div class="clients why-call-insects animated rubberBand">
        <img src="images/clients/eastern-bank.jpg" alt="">
      </div>
      <div class="clients why-call-insects animated rubberBand">
        <img src="images/clients/epyllion.jpg" alt="">
      </div>
      <div class="clients why-call-insects animated rubberBand">
        <img src="images/clients/Plummy-Fashion.jpg" alt="">
      </div>
      <div class="clients why-call-insects animated rubberBand">
        <img src="images/clients/partex.jpg" alt="">
      </div>
      <div class="clients why-call-insects animated rubberBand">
        <img src="images/clients/icrc.jpg" alt="">
      </div>
      <div class="clients why-call-insects animated rubberBand">
        <img src="images/clients/dmp.jpg" alt="">
      </div>
      <div class="clients why-call-insects animated rubberBand">
        <img src="images/clients/BMA.jpg" alt="">
      </div>
      <div class="clients why-call-insects animated rubberBand">
        <img src="images/clients/rupayan-150x150.jpg" alt="">
      </div>
      <div class="clients why-call-insects animated rubberBand">
        <img src="images/clients/bangladesh.jpg" alt="">
      </div>
      <div class="clients why-call-insects animated rubberBand">
        <img src="images/clients/golden-harvest.jpg" alt="">
      </div>
      <div class="clients why-call-insects animated rubberBand">
        <img src="images/clients/gs.jpg" alt="">
      </div>
      <div class="clients why-call-insects animated rubberBand">
        <img src="images/clients/ide.jpg" alt="">
      </div>
    </div>
  </div>

  <div id="questions" class="service-offer" style="margin-top:60px">
    <p ng-if="selectedLang == 0"><i class="fa fa-phone" aria-hidden="true"></i>  WANT TO BE OUR CLIENT? <span>01682222222,01682222222</span></p>
    <p ng-if="selectedLang == 1"><i class="fa fa-phone" aria-hidden="true"></i>  আমাদের গ্রাহক হতে চান? <span>01682222222,01682222222</span></p>
  </div>
</div>
